<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">

Team Name:
Team Motto:

<h2>Hero 1</h2>

Hero's Name
Hero's Power
Hero's Biography

<h2>Hero 2</h2>

Hero's Name
Hero's Power
Hero's Biography

<h2>Hero 3</h2>

Hero's Name
Hero's Power
Hero's Biography

</form>
