<h1>Create a Team and Heroes!</h1>

params = {
  team {
    name => ,
    motto =>,
    members => [
      {
      name =>,
      power =>,
      biography =>
      }
    ]
  }
}


<form action="/teams" method="POST">

  <label id="team_name">Team Name:</label>
  <input type="text" name="team[name]" id="team_name"/>

  <label id="team_motto">Team Motto:</label>
  <input type="text" name="team[motto]" id="team_motto"/>

  <h2>Hero 1</h2>

  Hero's Name:
  Hero's Power:
  Hero's Biography:

  <h2>Hero 2</h2>

  Hero's Name:
  Hero's Power:
  Hero's Biography:

  <h2>Hero 3</h2>

  Hero's Name:
  Hero's Power:
  Hero's Biography:

  <input type="submit" value="Submit"/>

</form>
